/* assets/css/style.css */

/* Basic Styles */

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  width: 98%; /* Increased width to make margins narrower */
  max-width: 1600px; /* Increased max-width */
  margin: auto;
  overflow: hidden;
}

header {
  background: #ffffff;
  color: #000000;
  padding: 15px 0;
}

header a {
  color: #000000;
  text-decoration: none;
}

header h1 {
  font-size: 36px; /* Largest font size for your name */
  margin: 0;
}

header h1 a {
  color: #007FFF; /* Azure blue color */
}

header nav {
  margin-left: 20px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header li {
  margin-left: 20px;
}

header nav a {
  color: #17B169;
  font-size: 24px; /* Next largest font size for nav links */
}

.header-content {
  display: flex;
  align-items: center;
}

/* Introduction Section */
.intro {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.intro p {
  font-size: 18px;
  flex: 1;
}

.intro img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px;
}

/* Navigation Links Under Introduction */
.section-links {
  margin-top: 20px;
}

.section-links a {
  margin-right: 20px;
  color: #17B169; /* Same color as header nav links */
  text-decoration: none;
  font-size: 24px; /* Next largest font size for nav buttons */
}

.section-links a:hover {
  text-decoration: underline;
}

/* Main Content Styles */
main h2 {
  color: #007FFF; /* Azure blue color for section headings */
  margin-top: 30px;
  font-size: 22px; /* Third largest font size for section headings */
}

main h3 {
  font-size: 20px;
  margin-top: 20px;
}

main p,
main li {
  font-size: 16px; /* Smaller font size for content */
}

/* Responsive Design */
@media(max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .header-content h1 {
    margin-bottom: 10px;
  }

  header nav {
    margin-left: 0;
  }

  .intro {
    flex-direction: column;
    align-items: center;
  }

  .intro img {
    margin-left: 0;
    margin-top: 20px;
  }

  .section-links {
    text-align: center;
  }
}
